<DOCTYPE html>
<html ng-app="chatter">
  <head>
    <title>Chatter</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container">
      <ul>
        <li ng-repeat="message in messages">{{message}}</li>
      </ul>
      <input type="text" name="message" placeholder="Enter message" ng-model="msg">
      <button type="button" class="btn btn-default" ng-click="send()">Send Message</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="chatter.js">
    </script>
  </body>
</html>
